@model ContactViewModel

<h2>Thank you for registering!</h2>
<h2>Below is your contact information.</h2>
<u1>
    <li>Name: @Model.Name</li>
    <li>Email: @Model.Email</li>
    <li>Phone: @Model.Phone</li>
    <li>Address: @Model.Address</li>
    <li>Age: @Model.Age</li>
</u1>